@font-face {
  font-family: "UbuntuBold";
  src: url("Ubuntu-Bold.ttf");
}

body {
  margin: 0px;
}

/* * {
  border: 1px dashed red;
} */

#main {
  background: url("./media/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px);
  height: 100vh;
  width: 100vw;
}
.content {
  position: fixed;
  top: 0;
  left: 0;
}

.center-container {
  position: fixed;
  display: block;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 500px;
  transform: translate(-50%, -60%);
}

.center-container .top {
  position: relative;
  display: block;
  width: 400px;
  height: 100px;
}

.center-container .top .header {
  font-family: UbuntuBold;
  text-align: center;
  color: white;
}

.center-container .bottom {
  position: relative;
  display: block;
  width: 400px;
  height: 400px;
  background: white;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
}

.input-field {
  display: block;
  width: 400px;
  height: 100px;
  padding: 20px 0;
}

.input-field .icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  font-size: 40px;
}

.input-field input {
  text-align: center;
}
